.wp-block-placepress-block-tour-stop {
	.pp-tour-stop-section-header-container .pp-tour-stop-title .wp-block {
		max-width: none;
	}

	.components-button.is-secondary {
		box-shadow: inset 0 0 0 1px #ffffff;
		color: #ffffff;

		.dashicon.dashicons-format-image {
			padding-right: 3px;
		}
	}

	.components-flex {
		display: none;
		float: left;
		width: 100%;
		padding: 10px 7px;
	}

	h1.wp-block,
	h2.wp-block,
	h3.wp-block,
	h4.wp-block,
	h5.wp-block,
	h6.wp-block {
		margin-bottom: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	h1.has-background,
	h2.has-background,
	h3.has-background,
	h4.has-background,
	h5.has-background,
	h6.has-background {
		text-shadow: 0 0 5px rgba(0, 0, 0, 0);
	}

	.editor-styles-wrapper h1:not(.has-text-color),
	.editor-styles-wrapper h2:not(.has-text-color),
	.editor-styles-wrapper h3:not(.has-text-color),
	.editor-styles-wrapper h4:not(.has-text-color),
	.editor-styles-wrapper h5:not(.has-text-color),
	.editor-styles-wrapper h6:not(.has-text-color) {
		color: #ffffff !important;
	}
}

.components-modal__frame {
	width: 100%;
	max-width: 700px;

	#placepress-tour-map {
		background: #eaeaea;
		background: linear-gradient(to top right, #ece9e6, #fafafa);
		height: 300px;
		width: 100%;
		min-height: 200px;
		max-height: 50vh;
		border-radius: 5px;
	}

	figure {
		margin: 0 auto 20px;
	}

	.components-button.is-primary {
		float: right;
		margin-bottom: 15px;
	}

	.leaflet-control-container .leaflet-top.leaflet-right {
		width: calc(100% - 64px);
	}
}

.wp-block[data-align="wide"] .wp-block-placepress-block-tour-stop,
.wp-block[data-align="full"] .wp-block-placepress-block-tour-stop {
	.pp-tour-stop-section-header-container {
		padding: 200px 0 0;
	}
	.pp-tour-stop-section-header-container .pp-tour-stop-title {
		padding-top: 50px;
	}
}
.wp-block[data-align="full"] .wp-block-placepress-block-tour-stop,
.wp-block[data-align="full"]
	.wp-block-placepress-block-tour-stop
	.figure-inner {
	border-radius: 0;
}

.block-editor-rich-text__editable [data-rich-text-placeholder]::after {
	color: #fff;
}

.has-child-selected .wp-block-placepress-block-tour-stop,
.is-selected .wp-block-placepress-block-tour-stop {
	.components-flex {
		display: flex;

		.components-button.is-secondary {
			background: #ffffff;
			color: #000000;
			box-shadow: inset 0 0 0 1px #000000;
		}
	}
}

.onload-hack-pp {
	line-height: 0;
	height: 0;
	width: 0;
	margin: 0;
	width: 0;
	color: transparent;
	background: transparent;
	position: absolute;
}
