.wp-block-placepress-block-map-global-type {
	.pp-site-editor-warning{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		opacity: .5;
		font-size: 1rem;
	}
	.map-caption-pp textarea {
		opacity: 0.7;
	}
	.map-caption-pp textarea {
		border-color: transparent;
		resize: none;
	}
	.map-caption-pp textarea:focus {
		opacity: 1;
	}
	.map-caption-pp textarea:hover {
		border-color: #8d96a0;
		resize: vertical;
	}
	.map-caption-pp textarea:focus {
		border-color: #00a0d2;
		resize: vertical;
	}
	.onload-hack-pp {
		line-height: 0;
		height: 0;
		width: 0;
		margin: 0;
		width: 0;
		color: transparent;
		background: transparent;
		position: absolute;
	}
	.leaflet-control-container .leaflet-top.leaflet-right {
		width: calc(100% - 64px);
	}
}
.wp-block[data-align="wide"] .wp-block-placepress-block-map-global-type,
.wp-block[data-align="full"] .wp-block-placepress-block-map-global-type {
	div.map-pp {
		height: 500px;
	}
}
