.wp-block-placepress-block-map-global-type {
	div.map-pp {
		@include pp_map_basic;
	}
	@include pp_global_map_content;
}

.map-pp select.select-pp {
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-size: 16px;
	font-weight: normal;
	line-height: 2;
	color: #32373c;
	box-shadow: none;
	padding: 0 24px 0 8px;
	min-height: 30px;
	max-width: 25rem;
	-webkit-appearance: none;
	background: #fff
		url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E")
		no-repeat right 5px top 55%;
	background-size: auto;
	background-size: 16px 16px;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
}

.wp-block-placepress-block-map-global-type.alignfull,
.wp-block-placepress-block-map-global-type.alignwide {
	div.map-pp {
		height: 500px;
	}
}
