.wp-block-placepress-block-map-location {
	img {
		padding: 0 !important;
	}
	.map-caption-pp textarea {
		border-color: transparent;
		opacity: 0.85;
		margin-top: 5px;
		background: #fafafa;
	}
	.map-caption-pp textarea:focus {
		opacity: 1;
	}
	.map-caption-pp textarea:hover {
		border-color: #8d96a0;
		resize: vertical;
	}
	.map-caption-pp textarea:focus {
		border-color: #00a0d2;
		resize: vertical;
	}
	.onload-hack-pp {
		line-height: 0;
		height: 0;
		width: 0;
		margin: 0;
		width: 0;
		color: transparent;
		background: transparent;
		position: absolute;
	}
	.leaflet-control-container .leaflet-top.leaflet-right {
		width: calc(100% - 64px);
	}

	.leaflet-popup-content {
		text-align: center;
		.checkmark-pp {
			color: #46b450;
		}
	}
}
.wp-block[data-align="wide"] .wp-block-placepress-block-map-location,
.wp-block[data-align="full"] .wp-block-placepress-block-map-location {
	div.map-pp {
		height: 500px;
	}
}
