.wp-block-placepress-block-map-location {
	div.map-pp {
		@include pp_map_basic;
	}
	.pp-directions-button {
		background-color: #0078a8;
		color: #fff;
		width: 100%;
		display: block;
		text-align: center;
		padding: 10px 5px;
		border-radius: 7px;
		font-size: 16px;
		min-width: 200px;
	}
	.pp-directions-button:hover,
	.pp-directions-button:focus {
		background-color: #333 !important;
		text-decoration: underline;
	}
	.pp-coords-caption {
		display: block;
		text-align: center;
		color: #555;
		padding: 5px 5px 0;
		font-style: italic;
	}
}
.wp-block-placepress-block-map-location.alignfull,
.wp-block-placepress-block-map-location.alignwide {
	div.map-pp {
		height: 500px;
	}
}
