
.postbox-container div[id^="tour_"] input[type="text"],
.postbox-container div[id^="story_"] input[type="text"]{
	width: 100%;
}

.postbox-container div[id^="tour_"] textarea,
.postbox-container div[id^="story_"] textarea{
	width: 100%;
	min-height: 6em;
}

.postbox-container div[id^="tour_"] h2.hndle,
.postbox-container div[id^="tour_"] .toggle-indicator,
.postbox-container div[id^="story_"] h2.hndle,
.postbox-container div[id^="story_"] .toggle-indicator{
	color: #fff;
	background-color: #0073aa;
}

.postbox-container div[id^="tour_"] .repeatable_button,
.postbox-container div[id^="story_"] .repeatable_button {
    background: #fafafa;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 2px 12px 2px 2px;
    cursor: pointer;
    margin: .5em 0 .25em 0;
}

.story_media_container{
	display: flex;
	flex-direction: row;
	margin-bottom: .25em;
}

.media-thumb {
    height: 2em;
    width: 2em;
    background: #23282d;
    margin-right: .25em;
    background-size: cover;
    flex-shrink: 0;
}

#story_media_row td input[id^="story_media"]{
}

.story_media_container.hidden{
	display: none;
}
.story_media_container .button{
	flex-shrink: 0;
	vertical-align: middle;
	line-height: 1.4em;
	margin-left: .25em;
	min-width: 7.5em;
}

#admin-story-map { 
	height:40vh; 
	min-height:20em; 
	background: #23282d;
	border: 1px solid #ddd;
	border-top: 0px none transparent;
	margin-bottom: .5em;
}
input#admin-location-search{
	width: 100%;
	margin-right: .5em;
}
#admin-location-search-container{
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	background: #23282d;
	border: 1px solid #ddd;
	border-bottom: 0px none transparent;
	display: flex;
}
.description{
	display: inline-block;
	margin-top: .25em;
}
.description pre{
	display: inline-block;
	margin: 0;
	background: #fafafa;
}

#map-message-overlay{
    text-align: center;
    padding: 1em;
    color: #fff;
    background: rgba(0,0,0,.8);
    display: none;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    top: 42.5%;
    left: 0;
    border-radius: .5em;
    text-shadow: 1px 1px 0 #000;
    width: 50%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}