
.postbox-container div[id^="tour_"] input[type="text"],
.postbox-container div[id^="location_"] input[type="text"]{
	width: 100%;
}

.postbox-container div[id^="tour_"] textarea,
.postbox-container div[id^="location_"] textarea{
	width: 100%;
	max-height: 70vh;
	min-height: 6em;
}

.postbox-container div[id^="tour_"] h2.hndle,
.postbox-container div[id^="tour_"] .toggle-indicator,
.postbox-container div[id^="location_"] h2.hndle,
.postbox-container div[id^="location_"] .toggle-indicator{
	color: #fff;
	background-color: #0073aa;
}

.postbox-container div[id^="tour_"] .repeatable_button,
.postbox-container div[id^="location_"] .repeatable_button {
    background: #fafafa;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 2px 12px 2px 2px;
    cursor: pointer;
    margin: .5em 0 .25em 0;
}

.location_media_picker.button{
	line-height: 1.5em;
} 

.inline-meta{
	font-style: italic;
	margin-bottom: 1em;
    margin-top: -.5em;	
}

#selected-media-preview table{
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	background: #f5f5f5;
}

#selected-media-preview table td{
	vertical-align:top; 
}

#selected-media-preview table thead{
	display: none;
}

#selected-media-preview table tr{
	border: 1px solid #ddd;
	background: linear-gradient(to top, #f5f5f5 0%,#fafafa 100%);
}

#selected-media-preview table tr td:first-child{
	width: 16em;
	padding: .5em;
}
#selected-media-preview table tr td:last-child{
	padding: 0 1em 1em 1em;
}
#selected-media-preview table div.actions{
	margin-top: 1em;
}

#selected-media-preview table div.preview-image{
	width: 16em;
	height: 10em;
	background-position: center center;
	background-size: cover;
	display: block;
	border: 1px solid #ddd;
}

@media all and (max-width: 736px){
	#selected-media-preview table tr td:first-child{
		width: 6em;
	}
	#selected-media-preview table div.preview-image{
		height: 6em;
		width: 6em;
	}
	a.edit_link.button, a.remove_link.button{
		width: 100%;
		text-align: center;
	}
}

#selected-media-preview table div.preview-image.audio,
#selected-media-preview table div.preview-image.video{
	background-size: auto;
	background-repeat: no-repeat;	
	background-color: #fafafa;
}


.sortable-locations-for-item li{
	display: flex;
	padding: 10px;
	border: 1px solid #ddd;
	background: linear-gradient(to top, #f5f5f5 0%,#fafafa 100%);	
}
.sortable-thumb{
	height: 10em;
	width: 16em;
	flex-shrink: 0;
	background-size: cover;
	margin-right: 1em;
	background-color: #fafafa;
	border: 1px solid #ddd;
}

@media all and (max-width: 736px){
	.sortable-thumb{
		height: 6em;
		width: 6em;
	}
}

#admin-location-map { 
	height:40vh; 
	min-height:20em; 
	background: #23282d;
	border: 1px solid #ddd;
	border-top: 0px none transparent;
	margin-bottom: .5em;
}
input#admin-location-search,
input#admin-location-search{
	width: 100%;
	margin-right: .5em;
}
#admin-location-search-container,
#admin-location-search-container{
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	background: #23282d;
	border: 1px solid #ddd;
	border-bottom: 0px none transparent;
	display: flex;
}

@media all and (max-width: 736px){
	#admin-location-search-container, #admin-location-search-container{
		flex-direction: column;
	}
	input#admin-location-search, input#admin-location-search{
		margin: 0 0 5px 0;
	}
}

.description{
	display: inline-block;
	margin-top: .25em;
}
.description pre{
	display: inline-block;
	margin: 0;
	background: #fafafa;
}

#map-message-overlay{
    text-align: center;
    padding: 1em;
    color: #fff;
    background: rgba(0,0,0,.8);
    display: none;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    top: 42.5%;
    left: 0;
    border-radius: .5em;
    text-shadow: 1px 1px 0 #000;
    width: 50%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}
