h1 span.curatescape-subtitle {
    font-weight: bold;
    font-style: italic;
}
p.curatescape-lede {
    font-size: 1.4em;
    font-style: italic;
}
.curatescape-audio,
.curatescape-video{
	width: 100%;
	max-width: 100%;
}
.curatescape-figure{
	width: 100%;
	margin: 0;
}
.curatescape-section + .curatescape-section{
	margin-top: 2em;
}
h2.curatescape-section-heading.curatescape-section-heading {
    border-bottom: 3px solid #ccc;
}
.curatescape-flex{
	display: flex;
}
.curatescape-image-grid{
	flex-direction: row;
	flex-flow: wrap;
	flex-basis: content;
	justify-content: space-between;
	width: 102%;
	margin-left: -1%;
	margin-right: -1%;
	
}
.curatescape-image-grid > div{
	flex-grow:1;
	margin: .5em;
	background-color: #000;
	width: 31%;
	padding-top: calc(31% - .5em); /* sets height to 1:1 aspect ratio */
	position: relative;
	cursor:pointer;
	overflow: hidden;
	min-height: 14em; /* firefox doesn't do % based heights or vertical padding/margins in flexbox */
}
.curatescape-image-grid > div > div{
	height: 100%;
	width: 100%;
	top:0;
	position: absolute;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform .5s;
}
.curatescape-image-grid > div > div:hover{
	transform:scale(1.1);
}
.curatescape-tour-locations{
	width: 100%;
}
.curatescape-tour-location{
	width: 100%;
	flex-direction: row;
	flex-basis: content;
	justify-content: flex-start;
	margin: 1em 0 0 0;
}
.curatescape-tour-location > img{
	margin-right: 1em;
	flex-shrink: 0;
}
.curatescape-tour-location > div{

}
.curatescape-map{
	height: 30em;
	height: 45vh;
	min-height: 22em;
	width: 100%;
	background: #eaeaea;
}